@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@media (max-width: 1280px) {
  .lg-no-bg {
    background-image: none !important;
  }
}

@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-main: "Poppins", sans-serif;

  --color-main: #a60000;
  --color-secondary: #b9a8b2;
  --color-button: #960000;
  --color-button-secondary: #d9d9d9;
  --color-img-deco: #f4f4f4;
  --color-text-secondary: #ffbb00;
  --color-hero-gray: #8c8c8c;
  --color-element-one: #c60000;
  --color-button-green: #00964e;

  --animate-slideIn: slideIn;

  @keyframes slideIn {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
